@{
    ViewBag.Title = "User Master";
    var versionUpdate = System.Configuration.ConfigurationManager.AppSettings["versionKey"];
}
<link href="~/Content/Css/UserMaster.css" rel="stylesheet" />


<div id="user-master">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="all-users-list">
                <input type="text" id="txtSearchEmailUserMaster" placeholder="Search here...">
                <button onclick="window.location.href='/Admin'" type="button" id="btnBack" class="btn btn-primary float-end mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
                    </svg>
                    Back
                </button>
                <ul class="sortableList" id="users"></ul>
                <div class="all-users-list-actions">
                    <button class="btn btn-primary" type="button">Add</button>
                    <button class="btn btn-danger" type="button" id="removeUser">Remove</button>
                    <button class="btn btn-primary" type="button" onclick="updateUserName()">Update Name</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    @{
        Html.RenderPartial("_AddNewUser");
    }
</div>
<div class="modal" tabindex="-1" role="dialog" id="deleteConfirmationUser">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="deleteConfirmationTitle">Delete Confirmation</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="deleteConfirmationId" />
                Are you sure you want to delete the user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="ResetPasswordUser">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="deleteConfirmationTitle">Message</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="ResetPasswordUserId" />
                Do you want to reset password for this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="button" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/AppJs/Common/Common.js?v=@versionUpdate"></script>
    <script src="~/Scripts/AppJs/UserMaster/UserMaster.js?v=@versionUpdate"></script>
}