body {
}

thead {
    background-color: #4472c4;
    color: white;
}

.form-control {
    display: inline !important;
    padding: 0rem 0.75rem !important;
    font-size: 0.80rem !important;
    height: 27px;
}

thead {
    width: calc( 100% - 1em ) ;
    text-align:center;
}
    
.txtRedBackground {
    background-color: #FFCCCC;
}

.txtGreenBackground {
    background-color: #E2F0D9;
}
.form-select {
    padding: 0rem 2.25rem 0.375rem 0.75rem !important;
    font-size: 0.8rem;
}

.cls-afeField{
    width:35px;
}

.cls-afeFieldTh {
    width: 4%;
}

.cls-textCenter{
    text-align:center;
}


.text-danger{
    font-size:small;
}